/* General styles */
body {
    font-family: Arial, sans-serif; /* Set the font family for the entire document */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-color: #f9f9f9; /* Set background color */
    color: #333; /* Set text color */
}

header, section {
    padding: 20px; /* Add padding to header and section elements */
    margin-bottom: 30px; /* Add margin at the bottom of header and section elements */
    background-color: #ffffff; /* Set background color for header and section elements */
    border-radius: 8px; /* Add border radius to create rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle effect */
}

h1, h2 {
    color: #FF5733; /* Set color for h1 and h2 elements */
}

ul, ol {
    padding-right: 20px; /* Add padding to the right of unordered and ordered lists */
}

li {
    margin-bottom: 5px; /* Add margin at the bottom of list items */
}

/* Center align h2 elements within the .description section */
.description h2 {
    text-align: center;
}

/* Center align paragraph elements within the .description section */
.description p {
    text-align: center;
}

/* Center align images with class .center */
.image .center {
    display: block; /* Make the image a block-level element */
    margin-left: auto; /* Auto margin to center horizontally */
    margin-right: auto; /* Auto margin to center horizontally */
    width: 50%; /* Set the width of the image */
}

/* Position images absolutely with left offset */
img {
    position: absolute; /* Position the image absolutely */
    left: 37%; /* Set left offset to center horizontally */
}
